*{
  scroll-behavior: smooth;
}
body{
  background-color: white;
  color: black;
}
h5{
  padding-top: 20%;
}
#nav{
  background-color: white;
}
#nav-color{
  color: white;
}
#hero{
  background-color: aquamarine;
}
@media only screen and (max-width: 991px) {
       .hero-t{
        margin-top: 30%;
       }
       .m-align{
        padding-bottom: 0;
       }
}